#para {
     font-style: italic;
  }
  
  .glow {
    text-decoration: underline; text-decoration-style: wavy;
  }
  
  .big{
    font-size: 20; font-family: Arial ; color: red;
  }
  p.center {
    
    color: goldenrod;
  }
  * {
    text-align: center;
     }